<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>h2.database.path</param-name>
        <param-value>/home/vilches/h2</param-value>
    </context-param>
    <listener>
        <listener-class>test.MyListener</listener-class>
    </listener>
</web-app>
